Repository wielgosz-info/wi-sonx-fse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Minimal footer for Front Page (#51)
  .eslintrc.json
  .github/workflows/build.yml
  .stylelintrc.json
  assets/css/blocks/paragraph.css
  assets/css/blocks/pullquote.css
  assets/css/default/header.css
  assets/css/default/loop-portfolio-grid.css
  assets/css/front-page/footer.css
  assets/css/main.css
  blocks/front-page-toc/edit.tsx
  blocks/icon/index.ts
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  package.json
  parts/footer-front-page.html
  patterns/footer-front-page.php
  patterns/page-front-page.php
  templates/front-page.html
  theme.json
  yarn.lock
Due: prettier --write, stylelint --fix

Version fix
  composer.json
  package.json
  readme.txt
Due: none

Version fix (#55)
  composer.json
  package.json
  readme.txt
Due: none

Testing release
  .github/workflows/release.yml
Due: none

Test II
  .github/workflows/release.yml
Due: none

Hardcode RUNID for a moment
  .github/workflows/release.yml
Due: none

remove set step
  .github/workflows/release.yml
Due: none

hardcode release tag fo now
  .github/workflows/release.yml
Due: none

Try setting github token
  .github/workflows/release.yml
Due: none

hardcode run id, not job id ;)
  .github/workflows/release.yml
Due: none

create archive in other directory
  .github/workflows/release.yml
Due: none

Switch trigger to release, use more vars
  .github/workflows/release.yml
Due: none

Testing release (#59)
  .github/workflows/release.yml
Due: none

Update release with assets
  .github/workflows/release.yml
Due: none

Update release with assets (#60)
  .github/workflows/release.yml
Due: none

Force add build
  .github/workflows/release.yml
Due: none

Release/0.1.2 (#61)
  .github/workflows/release.yml
Due: none

Add assets on tag so they work with Packagist
  .github/workflows/build.yml
  .github/workflows/tag.yml
  theme.json
Due: none

Force new branch
  .github/workflows/tag.yml
Due: none

Update tag to include built assets
  build/assets/editor.asset.php
  build/assets/editor.css
  build/assets/editor.js
  build/assets/main.asset.php
  build/assets/main.css
  build/assets/main.js
  build/blocks/front-page-section/block.json
  build/blocks/front-page-section/index.asset.php
  build/blocks/front-page-section/index.css
  build/blocks/front-page-section/index.js
  build/blocks/front-page-section/style-index.css
  build/blocks/front-page-toc/block.json
  build/blocks/front-page-toc/index.asset.php
  build/blocks/front-page-toc/index.js
  build/blocks/front-page-toc/style-index.css
  build/blocks/front-page-toc/view.asset.php
  build/blocks/front-page-toc/view.js
  build/blocks/icon/block.json
  build/blocks/icon/index.asset.php
  build/blocks/icon/index.js
  build/blocks/icon/style-index.css
  build/blocks/services-slider/block.json
  build/blocks/services-slider/index.asset.php
  build/blocks/services-slider/index.js
  build/blocks/services-slider/render.php
  build/blocks/services-slider/style-index.css
  build/blocks/services-slider/view.asset.php
  build/blocks/services-slider/view.js
  build/blocks/skill-percentage/block.json
  build/blocks/skill-percentage/index.asset.php
  build/blocks/skill-percentage/index.js
  build/blocks/skill-percentage/style-index.css
  build/blocks/skill-percentage/view.asset.php
  build/blocks/skill-percentage/view.js
  composer.json
  package.json
  style.css
Due: prettier --write, eslint --fix, stylelint --fix

Add assets on tag so they work with Packagist (#62)
  .github/workflows/build.yml
  .github/workflows/tag.yml
  theme.json
Due: none

Improve editing experience in production mode
  assets/css/editor.css
  docker-entrypoint.sh
  theme.json
Due: prettier --write, stylelint --fix

Version bump
  composer.json
  package.json
  style.css
Due: prettier --write, stylelint --fix

Enable basic spacing options
  theme.json
Due: none

Add default text color
  assets/css/editor.css
Due: prettier --write, stylelint --fix

Improve editing experience in production mode (#63)
  assets/css/editor.css
  composer.json
  docker-entrypoint.sh
  package.json
  style.css
  theme.json
Due: prettier --write, stylelint --fix

Update tag to include built assets
  build/assets/editor.asset.php
  build/assets/editor.css
  build/assets/editor.js
  build/assets/main.asset.php
  build/assets/main.css
  build/assets/main.js
  build/blocks/front-page-section/block.json
  build/blocks/front-page-section/index.asset.php
  build/blocks/front-page-section/index.css
  build/blocks/front-page-section/index.js
  build/blocks/front-page-section/style-index.css
  build/blocks/front-page-toc/block.json
  build/blocks/front-page-toc/index.asset.php
  build/blocks/front-page-toc/index.js
  build/blocks/front-page-toc/style-index.css
  build/blocks/front-page-toc/view.asset.php
  build/blocks/front-page-toc/view.js
  build/blocks/icon/block.json
  build/blocks/icon/index.asset.php
  build/blocks/icon/index.js
  build/blocks/icon/style-index.css
  build/blocks/services-slider/block.json
  build/blocks/services-slider/index.asset.php
  build/blocks/services-slider/index.js
  build/blocks/services-slider/render.php
  build/blocks/services-slider/style-index.css
  build/blocks/services-slider/view.asset.php
  build/blocks/services-slider/view.js
  build/blocks/skill-percentage/block.json
  build/blocks/skill-percentage/index.asset.php
  build/blocks/skill-percentage/index.js
  build/blocks/skill-percentage/style-index.css
  build/blocks/skill-percentage/view.asset.php
  build/blocks/skill-percentage/view.js
  composer.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

Basic page template. Allows page comments as per requirements
  patterns/page-default.php
  patterns/post-comments-default.php
  templates/page.html
Due: prettier --write

Switch animation-range to pixels for consistency
  assets/css/default/header.css
Due: prettier --write, stylelint --fix

Set front page section height in dvh where supported
  assets/css/front-page/main.css
  patterns/footer-front-page.php
Due: prettier --write, stylelint --fix

section counters color fallback
  blocks/front-page-section/style.css
Due: prettier --write, stylelint --fix

Lint fix
  assets/css/default/header.css
Due: prettier --write, stylelint --fix

Single page + front page section sizing improvement (#65)
  assets/css/default/header.css
  assets/css/front-page/main.css
  blocks/front-page-section/style.css
  patterns/footer-front-page.php
  patterns/page-default.php
  patterns/post-comments-default.php
  templates/page.html
Due: prettier --write, stylelint --fix

Support existing paragraph styles & lang attr
  assets/css/blocks/paragraph.css
  assets/scripts/blocks/group.tsx
  assets/scripts/blocks/paragraph.ts
  assets/scripts/editor.ts
Due: prettier --write, stylelint --fix

Space before link
  assets/scripts/blocks/group.tsx
Due: none

Add support for pre-existing styles / features (#66)
  assets/css/blocks/paragraph.css
  assets/scripts/blocks/group.tsx
  assets/scripts/blocks/paragraph.ts
  assets/scripts/editor.ts
Due: prettier --write, stylelint --fix

Remove loop part
  parts/loop-default.html
  templates/archive.html
  templates/home.html
  templates/search.html
  theme.json
Due: prettier --write

Ensure font sizing and alignment works properly with Gutenberg
  patterns/header-front-page.php
  patterns/page-default.php
  patterns/post-comments-default.php
  patterns/post-default.php
  theme.json
Due: none

Start project pattern
  includes/class-theme.php
  patterns/project-default.php
  templates/single-wi-project.html
Due: prettier --write

WIP: post navigation links
  assets/css/default/post-navigation-links.css
  assets/css/main.css
  blocks/icon/icons/dots.tsx
  blocks/icon/icons/index.ts
  blocks/icon/icons/time.tsx
  patterns/post-navigation-links-default.php
  patterns/project-default.php
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
