Repository wielgosz-info/wi-sonx-fse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint --fix"],
	"*.html": "prettier --write",
	"*.css": ["prettier --write", "stylelint --fix"]
}

Display projects better when none have image
  assets/css/default/loop-post-preview-project.css
  blocks/services-slider/edit.tsx
Due: prettier --write, stylelint --fix

Filters styling, improvement to project tile
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/editor.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  assets/fonts/poppins-v21-latin_latin-ext-600.woff2
  theme.json
Due: prettier --write, stylelint --fix

Style simple pagination, update pattern
  assets/css/default/loop-post-preview-project.css
  assets/css/default/query-pagination.css
  assets/css/editor.css
  assets/css/front-page/loop-more-posts-pagination.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  patterns/loop-portfolio-grid.php
Due: prettier --write, stylelint --fix

Portfolio grid (#34)
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/query-pagination.css
  assets/css/editor.css
  assets/css/front-page/loop-more-posts-pagination.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/front-page/main.css
  assets/css/main.css
  assets/css/tools/custom-media.css
  assets/fonts/poppins-v21-latin_latin-ext-600.woff2
  blocks/front-page-section/style.css
  blocks/front-page-toc/style.css
  blocks/services-slider/edit.tsx
  patterns/loop-portfolio-grid.php
  patterns/loop-post-preview-project.php
  patterns/section-front-page-portfolio.php
  theme.json
Due: prettier --write, stylelint --fix

Add new sections screenshots to readme
  README.md
  screenshots/wi-sonx-fse.portfolio.png
Due: none

Only register theme slugs in REST
  includes/class-rest.php
Due: none

Dynamic ToC, update FP sections patterns
  assets/css/front-page/main.css
  blocks/front-page-section/block.json
  blocks/front-page-section/save.tsx
  blocks/front-page-toc/save.tsx
  blocks/front-page-toc/view.ts
  patterns/header-front-page.php
  patterns/section-front-page-about.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-contact.php
  patterns/section-front-page-experience.php
  patterns/section-front-page-hello.php
  patterns/section-front-page-portfolio.php
  patterns/section-front-page-services.php
Due: prettier --write, stylelint --fix

Fix portfolio grid pattern
  patterns/loop-portfolio-grid.php
Due: none

Force anchors for fp sections, remove extra attr
  blocks/front-page-section/block.json
  blocks/front-page-section/edit.tsx
  patterns/section-front-page-about.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-contact.php
  patterns/section-front-page-experience.php
  patterns/section-front-page-hello.php
  patterns/section-front-page-portfolio.php
  patterns/section-front-page-services.php
Due: none

Add initial scrollTo, fix section template
  blocks/front-page-section/edit.tsx
  blocks/front-page-section/style.css
  blocks/front-page-toc/save.tsx
  blocks/front-page-toc/view.ts
  patterns/header-front-page.php
Due: prettier --write, stylelint --fix

Remove more post loop part since it was wrecking interactivity
  parts/loop-more-posts.html
  patterns/section-front-page-blog.php
  theme.json
Due: prettier --write

Dynamic front page ToC (#42)
  assets/css/front-page/main.css
  blocks/front-page-section/block.json
  blocks/front-page-section/edit.tsx
  blocks/front-page-section/save.tsx
  blocks/front-page-section/style.css
  blocks/front-page-toc/save.tsx
  blocks/front-page-toc/view.ts
  parts/loop-more-posts.html
  patterns/header-front-page.php
  patterns/loop-portfolio-grid.php
  patterns/section-front-page-about.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-contact.php
  patterns/section-front-page-experience.php
  patterns/section-front-page-hello.php
  patterns/section-front-page-portfolio.php
  patterns/section-front-page-services.php
  theme.json
Due: prettier --write, stylelint --fix

Readme & screenshots updates
  README.md
  screenshot.png
  screenshots/wi-sonx-fse.about.png
  screenshots/wi-sonx-fse.blog.png
  screenshots/wi-sonx-fse.hero.png
  screenshots/wi-sonx-fse.portfolio.png
  screenshots/wi-sonx-fse.services.png
Due: none

Header styling
  assets/css/blocks/button.css
  assets/css/blocks/navigation.css
  assets/css/blocks/query-pagination.css
  assets/css/default/header.css
  assets/css/main.css
  assets/css/tools/custom-media.css
  assets/scripts/blocks/button.ts
  assets/scripts/editor.ts
  assets/scripts/main.ts
  patterns/header-default.php
  patterns/loop-portfolio-grid.php
  theme.json
Due: prettier --write, stylelint --fix

Link color cleanup
  patterns/header-default.php
  patterns/header-front-page.php
  patterns/loop-post-preview-project.php
  patterns/loop-post-preview-service.php
  patterns/section-front-page-about.php
  patterns/section-front-page-hello.php
  theme.json
Due: none

Remove link styling from post preview
  patterns/loop-post-preview-default.php
Due: none

Sync palette with twentytwentyfour convention, update selector-class-pattern rule.
  .stylelintrc.json
  assets/css/blocks/button.css
  assets/css/blocks/query-pagination.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/loop-post-preview.css
  assets/css/editor.css
  assets/css/front-page/header.css
  assets/css/front-page/loop-more-posts-pagination.css
  assets/css/front-page/main.css
  blocks/front-page-section/edit.tsx
  blocks/front-page-section/save.tsx
  blocks/front-page-section/style.css
  blocks/front-page-toc/edit.tsx
  blocks/front-page-toc/save.tsx
  blocks/front-page-toc/style.css
  blocks/services-slider/edit.tsx
  blocks/services-slider/render.php
  blocks/services-slider/style.css
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/save.tsx
  blocks/skill-percentage/style.css
  blocks/skill-percentage/view.ts
  patterns/header-front-page.php
  patterns/loop-more-posts.php
  patterns/loop-post-preview-default.php
  patterns/loop-post-preview-project.php
  patterns/loop-post-preview-service.php
  patterns/section-front-page-about.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-contact.php
  patterns/section-front-page-experience.php
  patterns/section-front-page-hello.php
  patterns/section-front-page-portfolio.php
  patterns/section-front-page-services.php
  styles/light.json
  templates/front-page.html
  theme.json
Due: prettier --write, stylelint --fix

Set queryIds in front page pattern
  assets/css/blocks/button.css
  blocks/services-slider/index.ts
  patterns/loop-more-posts.php
  patterns/loop-portfolio-grid.php
  patterns/loop-services-slider.php
  patterns/page-front-page.php
  theme.json
Due: prettier --write, stylelint --fix

Fix slider error breaking page
  blocks/services-slider/view.ts
Due: none

Minimal hover effect
  assets/css/blocks/navigation.css
Due: prettier --write, stylelint --fix

PHPCS fixes
  patterns/loop-more-posts.php
  patterns/loop-portfolio-grid.php
  patterns/loop-services-slider.php
  patterns/page-front-page.php
Due: none

Single post header WIP
  blocks/icon/icons/index.ts
  blocks/icon/icons/time.tsx
  patterns/post-default.php
  templates/singular.html
Due: prettier --write

Update primary -> accent
  patterns/post-default.php
Due: none

Post content basic styling
  blocks/icon/icons/time.tsx
  blocks/icon/save.tsx
  patterns/post-default.php
Due: none

Basic text styles
  assets/css/blocks/pullquote.css
  assets/css/blocks/quote.css
  assets/css/elements/blockquote.css
  assets/css/elements/list.css
  assets/css/main.css
  patterns/post-default.php
  templates/singular.html
  theme.json
Due: prettier --write, stylelint --fix

More styling for basic blocks
  assets/css/blocks/code.css
  assets/css/blocks/paragraph.css
  assets/css/blocks/post-terms.css
  assets/css/blocks/pullquote.css
  assets/css/blocks/table.css
  assets/css/blocks/verse.css
  assets/css/elements/blockquote.css
  assets/css/elements/code.css
  assets/css/elements/list.css
  assets/css/main.css
  patterns/post-default.php
Due: prettier --write, stylelint --fix

Comments styling
  assets/css/blocks/comments.css
  assets/css/blocks/table.css
  assets/css/elements/code.css
  assets/css/elements/list.css
  assets/css/elements/table.css
  assets/css/main.css
  patterns/post-comments-default.php
Due: prettier --write, stylelint --fix

responsive updates
  assets/css/blocks/comments.css
  patterns/post-comments-default.php
Due: prettier --write, stylelint --fix

Improve pagination & form
  patterns/post-comments-default.php
Due: none

Comment form, apply body bg pattern
  assets/css/blocks/comments.css
  assets/css/blocks/post-comments-form.css
  assets/css/default/header.css
  assets/css/elements/body.css
  assets/css/main.css
  patterns/header-default.php
Due: prettier --write, stylelint --fix

Blog single post (#48)
  assets/css/blocks/code.css
  assets/css/blocks/comments.css
  assets/css/blocks/paragraph.css
  assets/css/blocks/post-comments-form.css
  assets/css/blocks/post-terms.css
  assets/css/blocks/pullquote.css
  assets/css/blocks/quote.css
  assets/css/blocks/table.css
  assets/css/blocks/verse.css
  assets/css/default/header.css
  assets/css/elements/blockquote.css
  assets/css/elements/body.css
  assets/css/elements/code.css
  assets/css/elements/list.css
  assets/css/elements/table.css
  assets/css/main.css
  blocks/icon/icons/index.ts
  blocks/icon/icons/time.tsx
  blocks/icon/save.tsx
  patterns/header-default.php
  patterns/post-comments-default.php
  patterns/post-default.php
  templates/singular.html
  theme.json
Due: prettier --write, stylelint --fix

minimal default footer
  patterns/footer-default.php
Due: none

Minimal default footer (#49)
  patterns/footer-default.php
Due: none

WIP archive styles
  assets/css/blocks/button.css
  assets/css/blocks/navigation.css
  assets/css/blocks/post-date.css
  assets/css/default/header.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/loop-post-preview.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  patterns/loop-default.php
  patterns/loop-no-results-default.php
  patterns/loop-pagination-default.php
  patterns/section-front-page-hello.php
  templates/archive.html
  templates/front-page.html
  templates/home.html
  templates/search.html
Due: prettier --write, stylelint --fix

Pagination + content clear
  assets/css/blocks/post-content.css
  assets/css/blocks/query-pagination.css
  assets/css/main.css
  theme.json
Due: prettier --write, stylelint --fix

Blog archive (#50)
  assets/css/blocks/button.css
  assets/css/blocks/navigation.css
  assets/css/blocks/post-content.css
  assets/css/blocks/post-date.css
  assets/css/blocks/query-pagination.css
  assets/css/default/header.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/loop-post-preview.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  patterns/loop-default.php
  patterns/loop-no-results-default.php
  patterns/loop-pagination-default.php
  patterns/section-front-page-hello.php
  templates/archive.html
  templates/front-page.html
  templates/home.html
  templates/search.html
  theme.json
Due: prettier --write, stylelint --fix

Minimal footer for Front Page
  assets/css/front-page/footer.css
  parts/footer-front-page.html
  patterns/footer-front-page.php
  patterns/page-front-page.php
  templates/front-page.html
  theme.json
Due: prettier --write, stylelint --fix

remove import
  assets/css/main.css
Due: prettier --write, stylelint --fix

Linters
  .eslintrc.json
  .github/workflows/build.yml
  .stylelintrc.json
  assets/css/blocks/paragraph.css
  assets/css/blocks/pullquote.css
  assets/css/default/header.css
  assets/css/default/loop-portfolio-grid.css
  blocks/front-page-toc/edit.tsx
  blocks/icon/index.ts
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  package.json
  yarn.lock
Due: prettier --write, stylelint --fix
