Repository wielgosz-info/wi-sonx-fse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint --fix"],
	"*.html": "prettier --write",
	"*.css": ["prettier --write", "stylelint --fix"]
}

Post navigation links
  assets/css/blocks/navigation.css
  assets/css/blocks/post-comments-form.css
  assets/css/blocks/post-navigation-link.css
  assets/css/blocks/query-pagination.css
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/post-navigation-links.css
  assets/css/default/project.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  blocks/front-page-toc/style.css
  blocks/services-slider/style.css
  patterns/post-navigation-links-default.php
  patterns/project-default.php
Due: prettier --write, stylelint --fix

Increase arrow spacing a bit, use lighter color for category
  assets/css/blocks/post-navigation-link.css
  patterns/project-default.php
Due: prettier --write, stylelint --fix

Add basic meta bindings to project template
  assets/css/default/project.css
  assets/css/elements/table.css
  patterns/project-default.php
Due: prettier --write, stylelint --fix

Only fill in label
  patterns/project-default.php
Due: none

hide button if href is not provided
  assets/css/default/project.css
Due: prettier --write, stylelint --fix

version bump
  composer.json
  package.json
  style.css
Due: prettier --write, stylelint --fix

Add export-ignores to gitattributes
  .gitattributes
Due: none

fixes from phpcs
  patterns/post-navigation-links-default.php
Due: none

Project details (#67)
  .gitattributes
  assets/css/blocks/navigation.css
  assets/css/blocks/post-comments-form.css
  assets/css/blocks/post-navigation-link.css
  assets/css/blocks/query-pagination.css
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/project.css
  assets/css/elements/table.css
  assets/css/front-page/loop-query-tax-filter.css
  assets/css/main.css
  blocks/front-page-toc/style.css
  blocks/icon/icons/dots.tsx
  blocks/icon/icons/index.ts
  blocks/icon/icons/time.tsx
  blocks/services-slider/style.css
  composer.json
  includes/class-theme.php
  package.json
  parts/loop-default.html
  patterns/header-front-page.php
  patterns/page-default.php
  patterns/post-comments-default.php
  patterns/post-default.php
  patterns/post-navigation-links-default.php
  patterns/project-default.php
  style.css
  templates/archive.html
  templates/home.html
  templates/search.html
  templates/single-wi-project.html
  theme.json
Due: prettier --write, stylelint --fix

Update tag to include built assets
  build/assets/editor.asset.php
  build/assets/editor.css
  build/assets/editor.js
  build/assets/main.asset.php
  build/assets/main.css
  build/assets/main.js
  build/blocks/front-page-section/block.json
  build/blocks/front-page-section/index.asset.php
  build/blocks/front-page-section/index.css
  build/blocks/front-page-section/index.js
  build/blocks/front-page-section/style-index.css
  build/blocks/front-page-toc/block.json
  build/blocks/front-page-toc/index.asset.php
  build/blocks/front-page-toc/index.js
  build/blocks/front-page-toc/style-index.css
  build/blocks/front-page-toc/view.asset.php
  build/blocks/front-page-toc/view.js
  build/blocks/icon/block.json
  build/blocks/icon/index.asset.php
  build/blocks/icon/index.js
  build/blocks/icon/style-index.css
  build/blocks/services-slider/block.json
  build/blocks/services-slider/index.asset.php
  build/blocks/services-slider/index.js
  build/blocks/services-slider/render.php
  build/blocks/services-slider/style-index.css
  build/blocks/services-slider/view.asset.php
  build/blocks/services-slider/view.js
  build/blocks/skill-percentage/block.json
  build/blocks/skill-percentage/index.asset.php
  build/blocks/skill-percentage/index.js
  build/blocks/skill-percentage/style-index.css
  build/blocks/skill-percentage/view.asset.php
  build/blocks/skill-percentage/view.js
  composer.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

Fix nav links editing experience
  assets/css/blocks/post-navigation-link.css
  assets/css/editor.css
  includes/class-theme.php
  patterns/post-navigation-links-default.php
  patterns/project-default.php
Due: prettier --write, stylelint --fix

WIP service details template
  patterns/service-default.php
  templates/single-wi-service.html
Due: prettier --write

Extra phpcs/dist config
  .distignore
  phpcs.xml
Due: none

linting fixes
  blocks/services-slider/render.php
  patterns/loop-more-posts.php
  patterns/loop-portfolio-grid.php
  patterns/loop-services-slider.php
  patterns/page-front-page.php
  patterns/post-navigation-links-default.php
  patterns/project-default.php
  patterns/section-front-page-about.php
Due: none

Icon "fallback"
  assets/css/default/service.css
  assets/css/main.css
  patterns/service-default.php
Due: prettier --write, stylelint --fix

Services detail (#68)
  .distignore
  assets/css/blocks/post-navigation-link.css
  assets/css/default/service.css
  assets/css/editor.css
  assets/css/main.css
  blocks/services-slider/render.php
  includes/class-theme.php
  patterns/loop-more-posts.php
  patterns/loop-portfolio-grid.php
  patterns/loop-services-slider.php
  patterns/page-front-page.php
  patterns/post-navigation-links-default.php
  patterns/project-default.php
  patterns/section-front-page-about.php
  patterns/service-default.php
  phpcs.xml
  templates/single-wi-service.html
Due: prettier --write, stylelint --fix

Projects archive
  blocks/front-page-section/style.css
  includes/class-theme.php
  patterns/loop-projects-default.php
  templates/archive-wi-project.html
Due: prettier --write, stylelint --fix

Add cssnano in production
  .env.sample
  .postcssrc.json
  docker-compose.yaml
  includes/class-blocks.php
  package.json
  postcss.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Projects archive (#74)
  .env.sample
  .postcssrc.json
  blocks/front-page-section/style.css
  docker-compose.yaml
  includes/class-blocks.php
  includes/class-theme.php
  package.json
  patterns/loop-projects-default.php
  postcss.config.js
  templates/archive-wi-project.html
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Services archive
  assets/css/default/loop-post-preview-service.css
  patterns/loop-projects-default.php
  patterns/loop-services-default.php
  templates/archive-wi-service.html
Due: prettier --write, stylelint --fix

Services archive (#79)
  assets/css/default/loop-post-preview-service.css
  patterns/loop-projects-default.php
  patterns/loop-services-default.php
  templates/archive-wi-service.html
Due: prettier --write, stylelint --fix

WIP: 404
  assets/css/default/heading-404.css
  assets/css/main.css
  includes/class-theme.php
  patterns/section-front-page-hello.php
  templates/404.html
  templates/archive-wi-project.html
  templates/archive-wi-service.html
  templates/archive.html
  templates/search.html
  theme.json
Due: prettier --write, stylelint --fix

A bit of animation
  assets/css/default/heading-404.css
Due: prettier --write, stylelint --fix

Add missing sticky post handling
  assets/css/blocks/post-template.css
  assets/css/default/loop-post-preview.css
  assets/css/main.css
Due: prettier --write, stylelint --fix

404 page (#80)
  assets/css/blocks/post-template.css
  assets/css/default/heading-404.css
  assets/css/default/loop-post-preview.css
  assets/css/main.css
  includes/class-theme.php
  patterns/section-front-page-hello.php
  templates/404.html
  templates/archive-wi-project.html
  templates/archive-wi-service.html
  templates/archive.html
  templates/search.html
  theme.json
Due: prettier --write, stylelint --fix

Add missing webpack-cli
  package.json
  yarn.lock
Due: none

wip devcontainer
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yaml
  docker-entrypoint.sh
Due: none

remove unused
  Dockerfile
  docker-entrypoint.sh
Due: none

wip packages update
  .devcontainer/devcontainer.json
  .eslintrc.json
  assets/css/front-page/main.css
  docker-compose.yaml
  package.json
  yarn.lock
Due: prettier --write, stylelint --fix

neewer yarn
  package.json
  yarn.lock
Due: none

Devcontainer
  .devcontainer/devcontainer.json
Due: none

Composer updates
  composer.lock
  docker-compose.yaml
  includes/class-theme.php
  phpcs.xml
Due: none

bump versions
  composer.json
  composer.lock
Due: none

Stylelint issues
  .stylelintrc.json
  blocks/services-slider/style.css
Due: prettier --write, stylelint --fix

ts lint
  assets/scripts/mixins/in-view.ts
  blocks/services-slider/view.ts
  package.json
Due: none

Downgrade typescript
  package.json
  yarn.lock
Due: none

Tiny improvements
  assets/css/front-page/loop-more-posts-pagination.css
  blocks/services-slider/view.ts
Due: prettier --write, stylelint --fix

Fix husky
  .husky/pre-commit
Due: none

Packages update (#140)
  .devcontainer/devcontainer.json
  .eslintrc.json
  .husky/pre-commit
  .stylelintrc.json
  Dockerfile
  assets/css/front-page/loop-more-posts-pagination.css
  assets/css/front-page/main.css
  assets/scripts/mixins/in-view.ts
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  composer.json
  composer.lock
  docker-compose.yaml
  docker-entrypoint.sh
  includes/class-theme.php
  package.json
  phpcs.xml
  yarn.lock
Due: prettier --write, stylelint --fix
