Repository wielgosz-info/wi-sonx-fse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

compose updates
  .vscode/settings.json
  docker-compose.yaml
Due: none

Fix assets paths
  includes/class-assets.php
Due: none

Start of switch to webpack
  .postcssrc.json
  composer.json
  package.json
  vite.config.mjs
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Update blocks and asset loader to use new files
  .github/workflows/build.yml
  .gitignore
  blocks/front-page-section/block.json
  blocks/front-page-toc/block.json
  blocks/skill-percentage/block.json
  includes/class-assets.php
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

PHPCS updates
  composer.json
  composer.lock
  includes/class-assets.php
  includes/class-blocks.php
  includes/class-theme.php
  includes/dev/class-appearancetools.php
  includes/dev/class-globalstyles.php
  includes/utils/class-singleton.php
  patterns/footer-front-page.php
  patterns/loop-post-preview-default.php
  patterns/section-front-page-about.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-contact.php
  patterns/section-front-page-experience.php
  patterns/section-front-page-hello.php
  patterns/section-front-page-portfolio.php
  patterns/section-front-page-services.php
  phpcs.xml
Due: none

make vieModules work, simplify theme webpack config
  blocks/front-page-section/block.json
  blocks/front-page-toc/block.json
  blocks/skill-percentage/block.json
  includes/class-assets.php
  includes/class-blocks.php
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix

Work around hot reload bug, use wp_filesystem instead of os functions
  .env.sample
  Dockerfile
  functions.php
  includes/class-assets.php
  includes/dev/class-globalstyles.php
  package.json
  webpack.config.js
Due: prettier --write, eslint --fix

Workflow adjustments, readme updates
  .github/workflows/build.yml
  .github/workflows/phpcs.yml
  README.md
  assets/images/logo.svg
  screenshots/wi-sonx-fse.about.png
  screenshots/wi-sonx-fse.hero.png
Due: none

Update README.md
  README.md
Due: none

Blocks/patterns/linters improvements.
  .eslintrc.json
  .github/workflows/phpcs.yml
  .stylelintrc.json
  assets/css/editor.css
  assets/css/front-page/header.css
  assets/css/front-page/main.css
  blocks/front-page-section/edit.tsx
  blocks/front-page-section/editor.css
  blocks/front-page-section/index.ts
  blocks/front-page-toc/edit.tsx
  blocks/front-page-toc/index.ts
  blocks/skill-percentage/block.json
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/index.ts
  blocks/skill-percentage/style.css
  includes/class-assets.php
  package.json
  patterns/section-front-page-about.php
  patterns/section-front-page-hello.php
  templates/front-page.html
  yarn.lock
Due: prettier --write, stylelint --fix

Very simple icon block
  blocks/icon/block.json
  blocks/icon/edit.tsx
  blocks/icon/icons/comments-count.tsx
  blocks/icon/icons/index.ts
  blocks/icon/index.ts
  blocks/icon/save.tsx
  blocks/icon/style.css
  blocks/icon/variations.ts
Due: prettier --write, stylelint --fix

cs fixes
  composer.json
  functions.php
  includes/class-assets.php
  includes/class-blocks.php
  patterns/section-front-page-about.php
  patterns/section-front-page-hello.php
Due: none

Move front page blog slider to template part
  assets/css/default/loop-slider-pagination.css
  assets/css/front-page/header.css
  assets/css/front-page/loop-slider-pagination.css
  assets/css/front-page/main.css
  assets/css/main.css
  blocks/icon/block.json
  blocks/icon/icons/comments-count.tsx
  blocks/icon/style.css
  blocks/icon/variations.ts
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/style.css
  includes/class-assets.php
  includes/class-blocks.php
  parts/loop-slider.html
  patterns/loop-no-results-default.php
  patterns/loop-post-preview-default.php
  patterns/loop-slider.php
  patterns/section-front-page-blog.php
  theme.json
Due: prettier --write, stylelint --fix

Update icon block with new icons and variations, better blocks organization.
  .eslintrc.json
  blocks/front-page-section/block.json
  blocks/front-page-section/index.ts
  blocks/front-page-toc/block.json
  blocks/front-page-toc/index.ts
  blocks/icon/block.json
  blocks/icon/icons/index.ts
  blocks/icon/icons/views.tsx
  blocks/icon/variations.ts
  blocks/skill-percentage/block.json
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/index.ts
  includes/class-blocks.php
  includes/class-theme.php
Due: none

Fix post preview template by removing comments count block for now (needs fixed hasUnsupportedBlocks in Gutenberg)
  patterns/loop-post-preview-default.php
Due: none

Small improvements
  assets/images/logo.svg
  blocks/icon/block.json
  includes/class-assets.php
  includes/class-blocks.php
  includes/class-theme.php
  includes/dev/class-appearancetools.php
  includes/dev/class-globalstyles.php
  includes/utils/class-singleton.php
Due: none

service tile
  assets/css/default/loop-more-posts-pagination.css
  assets/css/default/loop-post-preview-service.css
  assets/css/default/loop-post-preview.css
  assets/css/default/loop-services-slider.css
  assets/css/front-page/loop-more-posts-pagination.css
  assets/css/main.css
  functions.php
  parts/loop-more-posts.html
  parts/loop-slider.html
  patterns/loop-default.php
  patterns/loop-more-posts.php
  patterns/loop-post-preview-default.php
  patterns/loop-post-preview-service.php
  patterns/loop-services-slider.php
  patterns/loop-slider.php
  patterns/section-front-page-blog.php
  patterns/section-front-page-services.php
  theme.json
Due: prettier --write, stylelint --fix

Front Page ToC animations
  assets/css/default/loop-post-preview-service.css
  assets/css/default/loop-post-preview.css
  assets/css/front-page/header.css
  assets/css/tools/custom-media.css
  blocks/front-page-toc/style.css
  functions.php
  includes/dev/class-blocksversion.php
  theme.json
Due: prettier --write, stylelint --fix

Start working on services slider
  assets/css/default/loop-services-slider.css
  assets/css/main.css
  blocks/front-page-section/editor.css
  blocks/front-page-section/style.ts
  blocks/front-page-toc/style.ts
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/index.ts
  blocks/services-slider/patterns-store.ts
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  blocks/skill-percentage/style.ts
  functions.php
  includes/class-rest.php
  patterns/loop-services-slider.php
Due: prettier --write, stylelint --fix

Add some basic CSS styling
  blocks/services-slider/edit.tsx
  blocks/services-slider/style.css
Due: prettier --write, stylelint --fix

Fix phpcs errors
  docker-compose.yaml
  functions.php
  includes/class-assets.php
  includes/class-blocks.php
  includes/class-rest.php
  includes/class-theme.php
  includes/dev/class-appearancetools.php
  includes/dev/class-blocksversion.php
  includes/dev/class-globalstyles.php
  includes/utils/class-singleton.php
Due: none

Add basic interactivity enhancements
  assets/css/default/loop-post-preview-service.css
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/index.ts
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/view.ts
  patterns/loop-post-preview-service.php
Due: prettier --write, stylelint --fix

Handle autoPlay, refactor view script
  assets/css/default/loop-post-preview-service.css
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/save.tsx
  blocks/services-slider/view.ts
Due: prettier --write, stylelint --fix

Add is-initialized, fix autoplay actions
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
Due: prettier --write, stylelint --fix

Add columns setting, pass attrs to CSS
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/index.ts
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  package.json
  yarn.lock
Due: prettier --write, stylelint --fix

Add basic prev/next buttons
  blocks/services-slider/save.tsx
  blocks/services-slider/view.ts
Due: none

Add pattern back
  patterns/loop-services-slider.php
Due: none

tiny updates to service preview
  assets/css/default/loop-post-preview-service.css
  patterns/loop-post-preview-service.php
Due: prettier --write, stylelint --fix

Add dots
  assets/css/default/loop-post-preview-service.css
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  patterns/loop-post-preview-service.php
  patterns/loop-services-slider.php
  patterns/section-front-page-hello.php
  theme.json
Due: prettier --write, stylelint --fix

make inView a mixin
  assets/scripts/mixins/in-view.ts
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  blocks/skill-percentage/save.tsx
  blocks/skill-percentage/view.ts
  package.json
  patterns/loop-services-slider.php
  patterns/section-front-page-about.php
  screenshots/wi-sonx-fse.services.png
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Convert services slider to dynamic pattern
  blocks/services-slider/block.json
  blocks/services-slider/render.php
  blocks/services-slider/save.tsx
  blocks/services-slider/view.ts
  patterns/loop-services-slider.php
Due: none

viewModules refactor
  assets/scripts/mixins/reduced-motion.ts
  blocks/services-slider/render.php
  blocks/services-slider/view.ts
  blocks/skill-percentage/save.tsx
  blocks/skill-percentage/view.ts
  patterns/section-front-page-about.php
Due: none

cs fixes
  blocks/services-slider/render.php
  includes/class-blocks.php
  patterns/section-front-page-about.php
  phpcs.xml
Due: none

Run workflows on pull requests
  .github/workflows/build.yml
  .github/workflows/phpcs.yml
Due: none

Services slider (#1)
  .github/workflows/build.yml
  .github/workflows/phpcs.yml
  assets/css/default/loop-post-preview-service.css
  assets/scripts/mixins/in-view.ts
  assets/scripts/mixins/reduced-motion.ts
  blocks/services-slider/block.json
  blocks/services-slider/edit.tsx
  blocks/services-slider/index.ts
  blocks/services-slider/render.php
  blocks/services-slider/save.tsx
  blocks/services-slider/style.css
  blocks/services-slider/view.ts
  blocks/skill-percentage/edit.tsx
  blocks/skill-percentage/save.tsx
  blocks/skill-percentage/view.ts
  includes/class-blocks.php
  package.json
  patterns/loop-post-preview-service.php
  patterns/loop-services-slider.php
  patterns/section-front-page-about.php
  patterns/section-front-page-hello.php
  phpcs.xml
  screenshots/wi-sonx-fse.services.png
  theme.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

display projects in a grid
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/main.css
  patterns/loop-portfolio-grid.php
  patterns/loop-post-preview-project.php
  patterns/section-front-page-portfolio.php
Due: prettier --write, stylelint --fix

Remove pointer-events none
  assets/css/default/loop-post-preview-project.css
Due: prettier --write, stylelint --fix

Improve effects
  assets/css/default/loop-portfolio-grid.css
  assets/css/default/loop-post-preview-project.css
  assets/css/front-page/main.css
  assets/css/tools/custom-media.css
  blocks/front-page-section/style.css
  blocks/front-page-toc/style.css
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
